cpu/.vs
cpu/.vs/**
cpu/RayTracing
cpu/RayTracing/**
cpu/x64
cpu/x64/**
cpu/*.sln
cpu/*.vcxproj
cpu/*.filters
cpu/*.user
cpu/*.ppm

gpu/.vs
gpu/.vs/**
gpu/RayTracing
gpu/RayTracing/**
gpu/x64
gpu/x64/**
gpu/*.sln
gpu/*.vcxproj
gpu/*.filters
gpu/*.user
gpu/*.ppm